
@font-face {
font-family: 'FabfeltScript';
font-style: normal;
font-weight: normal;
src: local('FabfeltScript Bold'), url('../fab/FabfeltScript-Bold.woff') format('woff');
}

@import 'meyers-reset.css';
@import 'reset.css';



body {
	font-family: 'FabfeltScript', cursive, helvetica;

}

span.hidden {
	display: none;
}


.big-text {
	font-size: clamp(22vw, 22vw, 23vw);
	font-weight: normal;
}

.medium-text {
	font-size: 40px;
}

.small-text {
	font-family: monaco, helvetica;
	line-height: 1.5;
	font-size: 18px;
}

picture img {
	width: 250px;
	margin: auto;
}

.inner-column {
	width: min(95%, 1000px);
	margin: 0 auto;
	text-align: center;
}

.heading {
	margin: 10px 0 20px;
}

.heading > picture{

	/*border-top: 4px solid black;*/
	border-bottom: 4px solid black;
	padding-bottom: 15px;
}

.picture-box {
	border-top: 4px solid black; 
	border-bottom: 4px solid black;

}

.hidden img {
	padding-bottom: 10px;
} 

.heading .site-header {
	margin: 25px 0;

}

p.lfps {
	margin: 30px 0;
}

div picture {
	margin-top: 30px;
}

.projects, .contact {
	margin-top: 30px;
}

h2 {
	margin: 0px;
}

/*footer*/ 

footer {
	margin-top: 80px;
	display: flex;
	justify-content: center;
}

footer div {
	padding: 15px 10px;
}

footer i {
	font-size: 35px;
	color: #000;

}



/*smaller-tablet*/

@media (min-width:768px) {
	.inner-column {
		width: min(90%, 1000px);
	}

	.big-text {
		font-size: clamp(18vw, 2vw, 22vw);
	}

	.projects, .contact {
	margin-top: 0px;
}

	.alex-links {
		display: flex;
		justify-content: space-around;
		max-width: 695px;
		margin: 0 auto;
	}

	.medium-text {
		font-size: 30px;
	}

}

@media (min-width: 1024px) {


	main {
		display: flex;
		height: 80vh;
		align-content: center;
		align-items: center;
	}

	.inner-column {
		text-align: left;
	}

	picture.hidden, .picture-box {
		display: none;
	
	}

	.hidden picture img {
		width: clamp(160px, 18vw, 200px);
	}

	span.hidden {
		display: inline-block;
	
		padding-bottom: 15px;

	}

	.hidden picture img {
		vertical-align: bottom;
		padding-bottom: 15px;
	}

	.big-text {
		font-size: clamp(150px, 10vw, 180px);

	}

	.medium-text {
		font-size: 45px;
	}

	.small-text {
		font-size: 20px;

	}

	p.lfps {
		margin-top: 40px;
	}

	.alex-links {
		text-align: center;
		max-width: 800px;
		margin-top: 10px;
	}

/*	footer {
		position: fixed;
		bottom: 0;
		left: 1vw;
	}*/
}































